<%= simple_form_for @appointment, url: appointments_path, remote: true do |f| %>
  <div class="form-inputs">
    <!-- START -->

    <%= f.input_field :start, as: :datetime, html5: true, :html => { :class => "form-group" } %>
    <!-- END --><br>
    <%= f.input_field :end, as: :datetime, html5: true, :html => { :class => "form-group" } %>
    <!-- GET THE POST -->
    <!-- got retrieve coach activities from the page's current user as a drop down collection -->
    <%= f.association :coach_activity, collection: @user.coach_activities, label_method: :activity%>
    <%= f.association :location %>
    <%= f.association :child, collection: @user.clients_children, label_method: :first_name %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
